* {
  --white: #f4f4f2;
  --dark1: #e8e8e8;
  --dark2: #bbbfca;
  --dark3: #495464;
  --black: #000000;
}

.Dashboard__Wrapper {
  padding: 24px;
}
html,
body {
  background-color: var(--dark1);
  z-index: -10;
}
